[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-compressor = "*"
django-libsass = "*"
rcssmin = "*"
psycopg2 = "*"
gunicorn = "*"
dj-database-url = "*"
pillow = "*"
stripe = "*"
django-countries = "*"
django-crispy-forms = "*"
boto3 = "*"
django-storages = "*"
django-environ = "*"
boto = "*"
django-extensions = "*"
pygraphviz = "*"
pyparsing = "*"
pydotplus = "*"

[requires]
python_version = "3.7"
