{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winkel - Sneakers and more...</title>
    <link rel="icon" href="{% static 'images/sneaker-logo.png' %}" type="image/icon type">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "base/css.html" %}

  </head>
  <body class="goto-here">
    {% include "base/navbar.html" %}

    {% url 'home' as home_url %}

		{% block content %}{% endblock %}

    {% include "base/footer.html" %}

    {% include "base/js.html" %}

    <!-- <div id="chatContainer">
			<button class="openChatWindow">Open Chat Window</button>
		</div> -->

    <!-- <div id="chatContainer">
		  <button class="openChatWindow" id="openChatWindow">Open Chat Window</button>
		</div> -->

  </body>
</html>
