{% extends 'base.html' %}

{% load static %}

{% block content %}

  <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="#" class="bg-white p-5 contact-form">
              <div class="form-group">
                <h3 class="text-success">Thank you for your purchase!</h3>
                <p>Your order number is: </p>
                <p>Please check your email for order confirmation with details and tracking info.</p>
                <div class="form-group">
                <a href="{% url 'products:list' %}" class="btn btn-primary py-3 px-5">Continue Shopping</a>
              </div>
              </div>
            </form>

          </div>

          <div class="col-md-6 d-flex">
          	<div class="bg-white text-center flex-grow-1">
              <img src="{% static 'images/check-mark.png' %}" alt="" style="with:256px; height:256px">
              <h3 class="text-success">Order Success!</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
