{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg' %}');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs">
            <span class="mr-2"><a href="{% url 'home' %}">Home</a></span>
            <span class="mr-2">/</span>
            <span>Checkout</span></p>
          <h1 class="mb-0 bread">Finalize Checkout</h1>
        </div>
      </div>
    </div>
  </div>

  {% if not billing_profile %}

    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-5 d-flex">
            {% include 'accounts/snippets/login-form.html' with form=login_form next_url=request.path|urlencode %}
          </div>
          <div class="col-md-2 d-flex justify-content-center">
            <h3>OR</h3>
          </div>
          <div class="col-md-5 d-flex">
            {% url "guest_register" as guest_register_url %}
            {% include 'accounts/snippets/guest-form.html' with form=guest_form next_url=request.path|urlencode action_url=guest_register_url %}
          </div>
        </div>
      </div>
    </section>

  {% else %}

    {% if not object.shipping_address %}

      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">
              {% url "checkout_address_create" as checkout_address_create %}
              {% include 'addresses/form.html' with form=address_form next_url=request.build.absolute_uri action_url=checkout_address_create address_type='shipping' %}
            </div> <!-- .col-md-8 -->
            <div class="col-xl-4 ftco-animate">
              {% url "checkout_address_reuse" as checkout_address_reuse %}
              {% include 'addresses/prev-addresses.html' with address_qs=address_qs next_url=request.build.absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
            </div>
          </div>
        </div>
      </section>

    {% elif not object.billing_address %}

      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">
              {% url "checkout_address_create" as checkout_address_create %}
              {% include 'addresses/form.html' with form=address_form next_url=request.build.absolute_uri action_url=checkout_address_create address_type='billing' %}
            </div> <!-- .col-md-8 -->
            <div class="col-xl-4 ftco-animate">
              {% url "checkout_address_reuse" as checkout_address_reuse %}
              {% include 'addresses/prev-addresses.html' with address_qs=address_qs next_url=request.build.absolute_uri address_type='billing' action_url=checkout_address_reuse %}
            </div>
          </div>
        </div>
      </section>

    {% elif not object.payment_option %}

      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">
              {% url "billing-payment-option-select" as payment_option_select %}
              {% include 'orders/payment-option.html' with form=payment_form next_url=request.build.absolute_uri action_url=payment_option_select %}
            </div> <!-- .col-md-8 -->
          </div>
        </div>
      </section>

    {% else %}

      {% if payment_option == "Stripe" and not has_card %}

        <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-8 ftco-animate">
                <div class="stripe-payment-form" data-token='{{ publish_key }}' data-next-url='{{ request.build_absolute_uri }}' data-btn-title='Add Payment Method'></div>
              </div> <!-- .col-md-8 -->
            </div>
          </div>
        </section>

      {% else %}

        <section class="ftco-section">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 ftco-animate">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-12 mb-5">
                      <form action="#" class="billing-form">
                        <h3 class="mb-4 billing-heading">Shipping Address</h3>
                        <div class="row align-items-end border rounded">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="country">State / Country</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.shipping_address.country }}" disabled>
                            </div>
                          </div>
                          <div class="w-100"></div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="streetaddress">Street Address</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.shipping_address.street_address }}" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="appartmentaddress">Appartment Address</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.shipping_address.appartment_address }}" disabled>
                            </div>
                          </div>
                          <div class="w-100"></div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="towncity">Town / City</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.shipping_address.city }}" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="postcodezip">Postcode / ZIP *</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.shipping_address.zip }}" disabled>
                            </div>
                          </div>
                        </div>
                      </form><!-- END -->
                    </div>
                    <br/>
                    <div class="col-xl-12 mb-5">
                      <form action="#" class="billing-form">
                        <h3 class="mb-4 billing-heading">Billing Address</h3>
                        <div class="row align-items-end border rounded">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="country">State / Country</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.billing_address.country }}" disabled>
                            </div>
                          </div>
                          <div class="w-100"></div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="streetaddress">Street Address</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.billing_address.street_address }}" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="appartmentaddress">Appartment Address</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.billing_address.appartment_address }}" disabled>
                            </div>
                          </div>
                          <div class="w-100"></div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="towncity">Town / City</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.billing_address.city }}" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="postcodezip">Postcode / ZIP *</label><br/>
                              <input type="text" style="border:none; border-bottom:1px solid black; background-color:white" placeholder="{{ object.billing_address.zip }}" disabled>
                            </div>
                          </div>
                        </div>
                      </form><!-- END -->
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 ftco-animate">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-12 mb-5">
                      <div class="cart-detail cart-total bg-light p-3 p-md-4">
                        <h3 class="billing-heading mb-4">Cart Total</h3>
                        <div class="container-fluid">
                          {% for item in object.cart.items.all %}
                          <div class="row mb-3">
                            <div class="col-4">
                              <!-- <img src="{{ item.product.get_main_img.image.url }}" style="width:100px; height:100px;"></img> -->
                              <div class="product">
                            		<a href="#" class="img-prod">
                                  <img class="img-fluid" src="{{ item.product.get_main_img.image.url }}" alt="Colorlib Template">
                            			<span class="status">{{ item.quantity }}</span>
                            			<div class="overlay"></div>
                            		</a>
                            	</div>
                            </div>
                            <div class="col-4">
                              {{ item.product.product.title }}<br/>Color: {{ item.product.color.title }}<br/>Size: {{ item.product.size.title }}</span>
                            </div>
                            <div class="col-4 text-center">
                              ${{ item.subtotal|floatformat:2 }}
                            </div>
                          </div>
                          {% endfor %}
                          <hr/>
                          <div class="row mb-3">
                            <div class="col-4">
                              Cart Total
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4 text-center">
                              ${{ object.cart.total|floatformat:2 }}
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-4">
                              Delivery
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4 text-center">
                              ${{ object.shipping_total|floatformat:2 }}
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-4">
                              Discount
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4 text-center">
                              $3.00
                            </div>
                          </div>
                          <hr/>
                          <div class="row mb-3">
                            <div class="col-4">
                              TOTAL
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4 text-center">
                              ${{ object.total|floatformat:2 }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="cart-detail cart-total bg-light p-3 p-md-4">
                        <h3 class="billing-heading mb-4">Payment Method</h3>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label><strong>{{ object.payment_option|upper }}</strong></label>
                          </div>
                          {% if has_card and object.payment_option == "Stripe" %}
                            <div class="col-md-12 border rounded">
                                <label>Card Type: {{ card.brand }}</label><br/>
                                <label>Card Number: **** **** **** {{ card.last4 }}</label><br/>
                                <label>Country: {{ card.country }}</label><br/>
                                <label>Exp: {{ card.exp_month }}/{{ card.exp_year }}</label>
                            </div>
                            <div class="col-md-12">
                                <a href='{{ billing_profile.get_payment_method_url }}?next={{ request.path|urlencode }}'>Change My Card</a>
                            </div>
                          {% endif %}
                        </div>
                        <form class="form" action="" method="POST">{% csrf_token %}
                          <button type="submit" class="btn btn-primary py-3 px-4">Place an order</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      {% endif %}

    {% endif %}

  {% endif %}

{% endblock %}
