{% extends "base.html" %}

{% load static %}

{% block content %}

  <section class="ftco-section contact-section bg-light">
      <div class="container">
        {% if messages %}
          <div class='row'>
            <div class='col-md-12 ftco-animate'>
                  <div class="alert alert-success massages">
                      {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                          {{ message }}
                          <br/>
                        </span>
                      {% endfor %}
                  </div>
            </div>
          </div>
        {% endif %}
        <div class="row d-flex mb-5 contact-info">
          <div class="w-100"></div>
          <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <p><span>Website</span> <a href="#">yoursite.com</a></p>
            </div>
          </div>
        </div>
        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form method='POST' action='{% if action_url %}{{ action_url }}{% endif %}' class="bg-white p-5 contact-form"> {% csrf_token %}
                {% if title %}<label class="label-control"><h2>{{ title }}</h2></label>{% endif %}
                {% if next_url %}
                  <input type='hidden' name='next' value='{{ next_url }}' />
                {% endif %}
                {{ form.as_p }}
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" value="{{ request.user.email }}" disabled="disabled">
                <br/>
                <input type="submit" value="Save" class="btn btn-primary py-3 px-5">
            </form>
          </div>

          <div class="col-md-6 d-flex">
            <div class="bg-white">
              <img class="img-fluid" src="{% static 'images/login.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
  </section>

{% endblock %}
