{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg' %}');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs">
            <span class="mr-2"><a href="{% url 'home' %}">Home</a></span>
            <span class="mr-2">/</span>
            <span>Account</span>
            <span class="mr-2">/</span>
            <span class="mr-2">Order List</span>
          </p>
          <h1 class="mb-0 bread">My Orders</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-cart">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <table class="table">
            <thead>
              <th>Order ID</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total</th>
            </thead>
            <tbody>
              {% for object in object_list %}
                <tr>
                  <td><a href="{{ object.get_absolute_url }}">{{ object.order_id }}</a></td>
                  <td>{{ object.timestamp }}</td>
                  <td>{{ object.get_status }}</td>
                  <td>${{ object.total }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3"><p class="lead">No orders yet!</p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
